.main{
    display:flex;
    width:400px;
    justify-content: space-between;
}

.mainunder{
    display:flex;
    width:400px;
    justify-content: space-between;
    margin-top: 15px;
    
}
.main1{
    padding-top: 20px;
    display:grid;
    grid-template-columns: 400px;
}
.itemdiv{
    width:162.400px;
}

.timediv{
    width:110.125px;
    padding-left:5px;
}

.del{
    width:52px;
    height:21px;
    padding-right:2.5px;
    background-color: red;
    color:white;
    border:none;
    border-radius: 5px;
}

.add{
    width:52px;
    height:21px;
    background-color: green;
    color:white;
    border:none;
    border-radius: 5px;
}